.App {
  font-family: sans-serif;
}
.progress {
  margin-top: 99px !important;
}
.ant-card {
  text-align: center !important;
  font-weight: bold !important;
  display: table !important;
  border: none !important;
  margin: 0 auto !important;
  outline: none !important;
}
.tab {
  display: table !important;
  visibility: visible;
  margin: 0 auto !important;
}
.tabs {
  display: none !important;
  margin: 0 auto !important;
}
button {
  background-color: white;
  border-radius: 12px !important;

  border: none;
  outline: none;
}
